Package: urbit
Version: 0.10.8
Section: custom
Priority: optional
Architecture: arm64
Essential: no
Installed-Size: 23604
Maintainer: ~botter-nidnul <botter-nidnul@protonmail.com>
Description: Urbit: a personal server operating function
